.Rproj.user
.Rhistory
.RData
.Ruserdata
/input.json
/input_json.txt
/script_completo_dados_sc44_pos_defesa-modificado.R
/CAP_interpolation.Rproj
/Script_Main.R
/trash_file.R
/Workspace_test.RData
/func_test_file.R